VK_APP_ID=your_app_id
VK_APP_SECRET=your_app_secret
JWT_SECRET=random_secret_string
PORT=5173
SERVER_URL=https://your-domain.com
YANDEX_CLIENT_SECRET=your_yandex_client_secret
GOOGLE_WEB_CLIENT_ID=your_google_web_client_id
